.vscode
src/*/__pycache__
src/*/migrations
src/*/api/__pycache__
src/*/api/migrations
src/config/settings/local.py
sradb*
src/.vscode
src/.venv
src/media_cdn/*
src/media_cdn/*/*
src/tmp/
srt/scripts/data/*
src/*/__pycache__/*
src/*/migratons/*
src/*/*/__pycache__
test_data
examples/*
src/config/settings/local.py
util/*
