.vscode
config_server.txt

**/migrations/
**/__pycache__/
**/media_cdn/
src/scritps/data

sradb*
src/.vscode
src/.venv
src/tmp/
src/scripts/data/
test_data
examples/*
util/*
deploy.txt
src/scripts/dbbak/
